@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    &-game {
        border: 5px solid #ccc;
    }
    &-number {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 3px;
            background-color: #ccc;
        }
    }
}

.number {
    min-width: 150px;
    background-color: #ccc;
}

.guess {
    display: inline-block;
    min-width: 150px;
    max-width: 50%;
    border: 2px solid black;
}