@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

.container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-game {
  border: 3px solid whitesmoke;
}

.container-number {
  position: relative;
  color: black;
}

.container-number:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  background-color: whitesmoke;
}

.number {
  min-width: 150px;
  background-color: whitesmoke;
}

.guess {
  display: inline-block;
  min-width: 150px;
  max-width: 50%;
  border: 2px solid black;
}

.success {
  background-color: #00A14E;
}

.error {
  background-color: #F24357;
}
